.todoItem {
    display: flex;
    align-items: flex-start;
    width: calc(100% + 20px);
    padding-left: 2px;
    margin-left: -20px;
}

.inputContainer {
    user-select: none;
    margin-right: 2px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: calc(1.5em + 6px);
}

.textContainer {
    flex: 1 1 0;
    min-width: 1px;
    display: flex;
    flex-direction: column;
}

.menuContainer {
    visibility: hidden;
    width: 20px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: calc(1.5em + 6px);
}

.todoItem:hover .menuContainer {
    visibility: visible;
}

.todoItem input {
    width: 16px;
    height: 16px;
}

.todoItem  p {
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 3px 2px;
    text-align: left;
    flex-grow: 1;
    margin: 0;
}

.todoItem .menu svg {
    width: 14px;
    height: 14px;
    display: block;
    flex-shrink: 0;
    fill: rgba(255, 255, 255, 0.5);
    backface-visibility: hidden;
}

@media (prefers-color-scheme: light) {
    .todoItem .menu svg {
        fill: rgb(25, 25, 25, 0.8);
    }
}