.progressionButton {
    background-color: var(--background-colour);
    border: 1px solid var(--primary-colour);
    border-radius: 360px;
    color: var(--primary-colour);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressionButton:hover {
    background-color: var(--primary-colour);
}

.progressionButton:hover svg path {
    stroke: #FFFFFF;
}

.progressionButton:disabled, .progressionButton[disabled] {
    border-color: var(--primary-colour-trans);
}

.progressionButton:disabled svg path, .progressionButton[disabled] svg path {
    stroke: var(--primary-colour-trans);
}