.todoItemBoard {
    padding: 1rem 40px;
}

.todoItemBoard h1 {
    text-align: left;
}

.todoItemBoard .columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0 46px;
}

.todoItemBoard .weeks, .todoItemBoard .months {
    margin-top: 2em;
}

.header {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 0 20px;
}

.controls {
    display: grid;
    grid-template-columns: 40px 40px;
    gap: 0 10px;
}