.todoItemList {
    margin-bottom: 3em;
}

.todoItemList .listContainer {
    min-height: 3rem;
}

.addButton {
    width: 100%;
    padding: 8px;
    background-color: var(--background-colour);
    border: 0;
    color: var(--primary-colour);
    border-radius: 8px;
    opacity: 0;
}

.addButton:hover {
    background-color: var(--primary-colour);
    color: var(--text-colour);
    opacity: 1;
}