.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    label {
        font-size: 1.2rem;
    }

    input {
        padding: 0.5rem 1rem;
        border-radius: 8px;
    }

    input:focus {
        outline: 2px solid  var(--primary-colour);
        box-shadow: 1px 1px 8px 1px  var(--primary-colour);
    }

    label:has(+ input:focus) {
        color: var(--primary-colour);
    }
}