.title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10px;
    border-bottom: 3px solid var(--text-colour);
    margin-bottom: 12px;
}

.title h3 {
    text-align: left;
    margin: 0;
}

.title h4 {
    text-align: right;
    margin: 0;
    color: var(--past-colour);
}

.title.past {
    border-color: var(--past-colour);
}

.title.past h3 {
    color: var(--past-colour);
}

.title.past h4 {
    color: var(--past-colour-trans);
}

.title.today {
    border-color: var(--primary-colour);
}

.title.today h3 {
    color: var(--primary-colour);
}

.title.today h4 {
    color: var(--primary-colour-trans);
}
